html body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
}

.element{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}

.btn{
    margin: 5px;
}

.doktorListesi{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 40px 0;
}

.container.clearfix {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 190px;
}

.col {
    flex: 1;
    margin: 10px;
}

h4 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
}

.btn-social {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-social:hover {
    background-color: #495057;
    border-color: #495057;
}
